# Python
__pycache__/
*.pyc
*.py[oc]
.env
venv/
dist/
wheels/
*.egg-info

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Data files
*.odf
*.xmlcon
*.xlsx
*.txt
